#a{
    width: 30px;
    height:30px;
    border: 2spx solid black;
}
#b{
    width: 30px;
    height:30px;
    border: 2spx solid black;
}
#c{
    width: 30px;
    height:30px;
    border: 2spx solid black;
}
#d{
    width: 30px;
    height:30px;
    border: 2spx solid black;
}
#e{
    width: 30px;
    height:30px;
    border: 2spx solid black;
}
#final{
    
    width: 60px;
    height:30px;
    border: 2spx solid black;
}

#n{

    color: crimson;
}